<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="topbar" th:fragment="header">
    <a class="brand" href="/products">SHOP</a>
    <!-- 로그인을 한 경우-->
    <div class="menu">
        <span sec:authorize="isAuthenticated()">
            <a href="../cart/list.html">장바구니</a>
            <a href="../order/list.html">주문내역</a>
            <b>홍길동</b>님
            <form method="post">
                <button type="submit" class="btn gray small">로그아웃</button>
            </form>
        </span>

        <!--로그인을 하지 않은 경우 -->
        <span sec:authorize="isAnonymous()">
            <a href="/login">로그인</a>
            <a href="/join">회원가입</a>
        </span>
    </div>
</header>
</body>
</html>